# ex facut la curs
apiVersion: v1
kind: Namespace
metadata:
  name: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-server-deployment
  namespace: frontend
  labels:
    app: simple-server
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: simple-server
  template:
    metadata:
      labels:
        app: simple-server
    spec:
      containers:
      - name: simple-server
        image: andreimihai/simple-server:0.1.0
        readinessProbe:
          exec:
            command:
            - ls
          initialDelaySeconds: 15
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "64Mi"
            cpu: "200m"

---
apiVersion: v1
kind: Service
metadata:
  name: simple-server
  namespace: frontend
  labels:
    app: simple-server
spec:
  type: NodePort
  selector:
    app: simple-server
  ports:
  - name: http
    protocol: TCP
    port: 8123        
    targetPort: 8123    
    nodePort: 30081     

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: simple-server-hpa
  namespace: frontend
spec:
  maxReplicas: 15
  metrics:
  - resource:
      name: cpu
      target:
        averageUtilization: 60
        type: Utilization
    type: Resource
  - resource:
      name: memory
      target:
        averageUtilization: 75
        type: Utilization
    type: Resource
  minReplicas: 4
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: simple-server-deployment 